name: test
on:
  push:
    branches:
      - "**"
env:
  DB_USER: 'root'
  DB_PASS: ''
  DB_HOST: '127.0.0.1'
  DB_PORT: 3306
  DB_NAME: 'test'
jobs:
  test:
    name: test
    strategy:
      matrix:
        go-version: [1.15.x]
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: ${DB_NAME}
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    defaults:
      run:
        shell: bash
        working-directory: src
    steps:
      - uses: actions/checkout@v2
      - name: install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: migrating
        run: go run cmd/blog/main.go
      - name: testing
        run: go test -race -v ./src/...
